  
  .box {
    display: block;
    font-size: 12px;
  }
  .box select {
    background-color: #0563af;
    color: #919192;
    padding: 8px;
    width: 100px;
    border: none;
    font-size: 12px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  
  .box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .box select option {
    font-size: 12px;
    padding: 30px;
  }